<%= stylesheet_link_tag 'blogForm.css' %>

<% if !user_signed_in? %>
    <div class="blogForm">
        <%= form_with(model: @post, local: true) do |form| %>
            <%= form.label :title %>
            <%= form.text_field :title %>

            <%= form.label :content %>
            <%= form.rich_text_area :content %>

            <%= form.submit %>
        <% end %>
    </div>
    <%# <%= link_to 'New Post', new_post_path %> %>
<% end %>



<% @posts.each do |post| %>
    <h2>
        <%= link_to post.title, post %>
    </h2>
    <p>
        <%= post.content.to_plain_text %>
    </p>
<% end %>
